.end h1 {
  font-size: 3rem;
  color: #818cf8;
}

.end p {
  font-size: 1.5rem;
}

button {
  position: relative;
  top: 9px;
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
  background-color: #4338ca;
  transform: scale(1.05);
}

.end{
  min-width: 60vw;
  padding-bottom: calc(2rem + 9px);
}